.App {
  min-height: 100vh; /* Imposta l'altezza del componente al 100% dell'altezza della finestra */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  max-width: 100%;
  height: 80%;
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 50%; 
    
  }
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('./fonts/Pokemon_Solid.ttf');
}

@font-face {
  font-family: 'Details font';
  src: url('./fonts/GROBOLD.ttf');
}

.pokemon-link {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 25px!important;
  -webkit-text-stroke: 2px rgb(0 117 190);/* Bordo blu */
  -webkit-text-fill-color: rgb(255 204 0); /* Riempimento giallo */
}

.pokemon-link-dropdown {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 22px!important;
  -webkit-text-stroke: 2px rgb(0 117 190);/* Bordo blu */
  -webkit-text-fill-color: rgb(255 204 0); /* Riempimento giallo */
}

.navbar-toggler {
  color: rgb(0 117 190)!important;
  background-color:rgb(255 204 0)!important;
}

.dropdown-menu.show {
  background-color: rgb(255 255 255 /55%);
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  min-width: unset!important;
}

.dropdown-toggle::after {
  border-top-color: rgb(0 117 190) !important;
}

.header{
  padding-top: 10px;
}

.pokedex{
  padding-top: 30px;
}

.pokeball-loading {
  animation: spin 1s infinite linear;
  max-height: 80px; 
  max-width: 80px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header {
  border-bottom: unset!important;
  background-color: unset!important;
}


.pokemon-button .btn{
  font-size: 30px !important;
  padding-bottom: 20px!important;
  margin-top: 30px!important;
  box-shadow: none!important;
  --bs-btn-border-width: 0px!important;
}

.pokemon-button-font{
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 30px!important;
  -webkit-text-stroke: 2px rgb(0 117 190);/* Bordo blu */
  -webkit-text-fill-color: rgb(255 204 0); /* Riempimento giallo */
}

.footer{
  padding-top: 100px;
  padding-bottom: 20px!important;
}

.footer h1{
  margin-bottom: 1rem!important;
}

.footer p{
  font-size: 33px!important;
  font-weight: 500!important;
}

.footer a{
  text-decoration: none;
  color: inherit;
  font-family: 'Pokemon Solid', sans-serif;
  -webkit-text-stroke: 2px rgb(0 117 190);/* Bordo blu */
  -webkit-text-fill-color: rgb(255 204 0); /* Riempimento giallo */
}


.footer-font{
  font-family: 'Pokemon Solid', sans-serif;
  -webkit-text-stroke: 2px rgb(0 117 190);/* Bordo blu */
  -webkit-text-fill-color: rgb(255 204 0); /* Riempimento giallo */
}

.custom-button {
  transition: transform 0.3s;
}

.custom-button:active {
  transform: scale(1.2);
}

.details-font {
  font-family: 'Details font', sans-serif;
  font-size: 14px;
}

.carousel-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  padding-right: 100px;
  border-radius: 50px;
}

.bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 50px;
}